@page
@model PharmaceuticalManagement_NguyenVietNamKhanh.Pages.StoreAccountPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StoreAccount[0].StoreAccountPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoreAccount[0].EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoreAccount[0].StoreAccountDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoreAccount[0].Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.StoreAccount) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StoreAccountPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreAccountDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.StoreAccountId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.StoreAccountId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.StoreAccountId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
